<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
      <div class="img-wrapper">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
      </div>
      <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </header>
    <div>
        <table>
            <tr>
                <th> {{localize "blcr.wep.range.r1"}} </th>
                <th> {{localize "blcr.wep.range.r2"}} </th>
                <th> {{localize "blcr.wep.range.r3"}} </th>
                <th> {{localize "blcr.wep.range.r4"}} </th>
                <th> {{localize "blcr.wep.range.r5"}} </th>
                <th> {{localize "blcr.wep.range.r6"}} </th>
                <th> {{localize "blcr.wep.range.r7"}} </th>
                <th> {{localize "blcr.wep.range.r8"}} </th>
            </tr>
            <tr>
                <td>
                    <select name = "data.attackWith">
                        {{#selsect data.attactwith}}
                        {{#each config.attactTypes as |name type|}}
                        <option calue = "{{type}}"> {{name}}</option>
                        {{/each}}
                        {{/select}}    
                    </select>
                </td>
                <td>
                    <input name= "data.damage" type = "text" value = {{data.damage}} data-dtype = "Number" />
                    

                </td>
            </tr>
        </table>
    </div>
</form>  